<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body id="wrap_addUser">

  <%- include ("../partials/nav.ejs", {loggedIn}) %>
    <div >

      Coming soon!!!
    </div>




    <%- include ("../partials/footer.ejs") %>
</body>

</html>